    <!--Account Authentication Content-->
    <div id="authenticate-content" class="mt-5 pt-3 tab-content" role="tabpanel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 fw-bold fs-3">
                    Account Authentication
                </div>
            </div>
            <br>
            <!--Table for Account Authentication-->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Account type</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Lawyer</td>
                        <td><button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Review </button></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>Client</td>
                        <td><button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal2">Review </button></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>Bird</td>
                        <td>Lawyer</td>
                        <td><button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal3">Review </button></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <!--End of Account Authentication Content-->
    <!--Modal content-->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ACCOUNT INFORMATION</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: justify;">
                    <form>
                        <label for="fname">First name:</label><br>
                        <input type="text" class="form-control" id="fname" value="Jacob" readonly><br>
                        <label for="lname">Last name:</label><br>
                        <input type="text" class="form-control" id="lname" value="Thorton" readonly><br>
                        <label for="actype">Account Type:</label><br>
                        <input type="text" class="form-control" id="actype" value="Client" readonly><br>
                        <label for="bday">Birthdate:</label><br>
                        <input type="text" class="form-control" id="bday" value="7/12/1977" readonly><br>
                        <label for="lname">Address:</label><br>
                        <input type="text" class="form-control" id="address" value="3269 Pasong Tamo Quezon City"
                            readonly><br>
                        <label for="educ_attain">Highest Educational Attainment:</label><br>
                        <input type="text" class="form-control" id="educ_attain"
                            value="Highschool graduate - Pasong Tamo Highschool)" readonly><br>
                        <label for="valid_id">Valid ID/ License (for lawyers):</label><br>
                        <input type="image" class="form-control" id="valid_id" src="driver_licensedummy).jpg"
                            readonly><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"><b>Validate Application</b></button>
                    <button type="button" class="btn btn-danger"><b>Deny Application</b></button>
                </div>
            </div>
        </div>
    </div>

    <!--end of Modal Content-->
    <!--Modal content-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ACCOUNT INFORMATION</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: justify;">
                    <form>
                        <label for="fname">First name:</label><br>
                        <input type="text" class="form-control" id="fname" value="Mark" readonly><br>
                        <label for="lname">Last name:</label><br>
                        <input type="text" class="form-control" id="lname" value="Otto" readonly><br>
                        <label for="actype">Account Type:</label><br>
                        <input type="text" class="form-control" id="actype" value="Lawyer" readonly><br>
                        <label for="bday">Birthdate:</label><br>
                        <input type="text" class="form-control" id="bday" value="7/11/1978" readonly><br>
                        <label for="lname">Address:</label><br>
                        <input type="text" class="form-control" id="address" value="3990 Morris Street Quezon City"
                            readonly><br>
                        <label for="educ_attain">Highest Educational Attainment:</label><br>
                        <input type="text" class="form-control" id="educ_attain"
                            value="College graduate(Polytechnic University of The Philippines - College of Law)"
                            readonly><br>
                        <label for="valid_id">Valid ID/ License (for lawyers):</label><br>
                        <input type="image" class="form-control" id="valid_id" src="lawyer_idummy.png" readonly><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"><b>Validate Application</b></button>
                    <button type="button" class="btn btn-danger"><b>Deny Application</b></button>
                </div>
            </div>
        </div>
    </div>

    <!--end of Modal Content-->
    <!--Modal content-->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ACCOUNT INFORMATION</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: justify;">
                    <form>
                        <label for="fname">First name:</label><br>
                        <input type="text" class="form-control" id="fname" value="Larry" readonly><br>
                        <label for="lname">Last name:</label><br>
                        <input type="text" class="form-control" id="lname" value="Bird" readonly><br>
                        <label for="actype">Account Type:</label><br>
                        <input type="text" class="form-control" id="actype" value="Lawyer" readonly><br>
                        <label for="bday">Birthdate:</label><br>
                        <input type="text" class="form-control" id="bday" value="1/23/1969" readonly><br>
                        <label for="lname">Address:</label><br>
                        <input type="text" class="form-control" id="address" value="259 Pasadena San Juan" readonly><br>
                        <label for="educ_attain">Highest Educational Attainment:</label><br>
                        <input type="text" class="form-control" id="educ_attain"
                            value="College graduate(Polytechnic University of The Philippines - College of Law)"
                            readonly><br>
                        <label for="valid_id">Valid ID/ License (for lawyers):</label><br>
                        <input type="image" class="form-control" id="valid_id" src="lawyer_idummy.png" readonly><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"><b>Validate Application</b></button>
                    <button type="button" class="btn btn-danger"><b>Deny Application</b></button>
                </div>
            </div>
        </div>
    </div>

    <!--end of Modal Content-->