    <!--Account Authentication Content-->
    <div id="authenticate-content" class="mt-5 pt-3 tab-content" role="tabpanel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 fw-bold fs-3">
                    Clients
                </div>
            </div>
            <br>
            <!--Table for Account Authentication-->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">UID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">40</th>
                        <td>Thelma</td>
                        <td>Chua</td>
                        <td><button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Review </button></td>
                    </tr>
                    <tr>
                        <th scope="row">41</th>
                        <td>Pepe</td>
                        <td>Manaloto</td>
                        <td><button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal2">Review </button></td>
                    </tr>
                    <tr>
                        <th scope="row">42</th>
                        <td>Homer</td>
                        <td>Sulpa</td>
                        <td><button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal3">Review </button></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <!--End of Account Authentication Content-->
    <!--Modal content-->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ACCOUNT INFORMATION</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: justify;">
                    <form>
                        <label for="uid" class="form-label">UID:</label>
                        <span class="badge bg-dark rounded-pill">41</span><br>

                        <label for="fname">First name:</label><br>
                        <input type="text" class="form-control" id="fname" value="Pepe" readonly><br>

                        <label for="lname">Last name:</label><br>
                        <input type="text" class="form-control" id="lname" value="Manaloto" readonly><br>

                        <label for="bday">Birthdate:</label><br>
                        <input type="text" class="form-control" id="bday" value="5/12/1959" readonly><br>

                        <label for="lname">Address:</label><br>
                        <input type="text" class="form-control" id="address" value="Varsity Quezon City" readonly><br>

                        <label for="educ_attain">Highest Educational Attainment:</label><br>
                        <input type="text" class="form-control" id="educ_attain"
                            value="Primary-school(Culiat Highschool)" readonly><br>

                        <label for="valid_id">Valid ID/ License (for lawyers):</label><br>
                        <input type="image" class="form-control" id="valid_id" src="driver_licensedummy).jpg"
                            readonly><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"><b>Lock Account</b></button>
                </div>
            </div>
        </div>
    </div>

    <!--end of Modal Content-->
    <!--Modal content-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ACCOUNT INFORMATION</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: justify;">
                    <form>
                        <label for="uid" class="form-label">UID:</label>
                        <span class="badge bg-dark rounded-pill">40</span><br>
                        <label for="fname">First name:</label><br>
                        <input type="text" class="form-control" id="fname" value="Thelma" readonly><br>
                        <label for="lname">Last name:</label><br>
                        <input type="text" class="form-control" id="lname" value="Chua" readonly><br>
                        <label for="bday">Birthdate:</label><br>
                        <input type="text" class="form-control" id="bday" value="9/11/1988" readonly><br>
                        <label for="lname">Address:</label><br>
                        <input type="text" class="form-control" id="address" value="Philand dr. Quezon City"
                            readonly><br>
                        <label for="educ_attain">Highest Educational Attainment:</label><br>
                        <input type="text" class="form-control" id="educ_attain" value="Highschool graduate"
                            readonly><br>
                        <label for="valid_id">Valid ID/ License (for lawyers):</label><br>
                        <input type="image" class="form-control" id="valid_id" src="driver_licensedummy).jpg"
                            readonly><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"><b>Lock Account</b></button>
                </div>
            </div>
        </div>
    </div>

    <!--end of Modal Content-->
    <!--Modal content-->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ACCOUNT INFORMATION</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: justify;">
                    <form>
                        <label for="uid" class="form-label">UID:</label>
                        <span class="badge bg-dark rounded-pill">42</span><br>
                        <label for="fname">First name:</label><br>
                        <input type="text" class="form-control" id="fname" value="Homer" readonly><br>
                        <label for="lname">Last name:</label><br>
                        <input type="text" class="form-control" id="lname" value="Sulpa" readonly><br>
                        <label for="bday">Birthdate:</label><br>
                        <input type="text" class="form-control" id="bday" value="1/23/1969" readonly><br>
                        <label for="lname">Address:</label><br>
                        <input type="text" class="form-control" id="address" value="Rosario Batangas" readonly><br>
                        <label for="educ_attain">Highest Educational Attainment:</label><br>
                        <input type="text" class="form-control" id="educ_attain" value="College graduate" readonly><br>
                        <label for="valid_id">Valid ID/ License (for lawyers):</label><br>
                        <input type="image" class="form-control" id="valid_id" src="driver_licensedummy).jpg"
                            readonly><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"><b>Lock Account</b></button>
                </div>
            </div>
        </div>
    </div>

    <!--end of Modal Content-->