<div class="container bg-white border mt-3 mb-3 shadow">
    <div class="text-center mt-5">
        <h4>Topic</h4>
    </div>
    <div class="row m-3">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="flex-wrap w-100 align-items-center">
                        <div class="ml-3"> Admin's post

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4>Creating post.</h4>
                    <p>
                        Step 1: Click the advice tab at the top left corner <br>
                        Step 2: Click the “New Discussion” button <br>
                        Step 3: Fill-up/Input the Legal Title together with the comments/details of the case that you
                        want to ask. <br>
                        Step 4: After completing the form, you can click the “Post” button. <br>
                    </p>
                    <h4>Mark as Resolved.</h4>
                    <p>
                        Step 1: Click the discussion that you’ve posted <br>
                        Step 2: If you think that your question is already answered and you’re already satisfied, you
                        can click the “MARK AS RESOLVED” with like icon to mark your discussion as resolved. <br>
                    </p>
                    <h4>Commenting</h4>
                    <p>
                        Only lawyers can comment to the discussion that you’ve posted. That’s why, you can rest assure
                        that all the comments, information and suggestion about your case is true and reliable.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>