<form action="/complaints/advice" method="POST">
<section class="consult-form container mt-3">
    <h1>Advice Form</h1>
    <hr>
    <div class="mb-3">
        <label for="adverse_party" class="form-label">Title ng legal na problema</label>
        <input type="text" class="form-control" id="adverse_party"
            placeholder="Ilagay ang TBD kung hindi sure">
    </div>
    <div class="mb-3">
        <label for="case_objectives" class="form-label">Description ng legal na
            problema</label>
        <textarea class="form-control" class="form-control" id="case_objectives"
            rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="client_questions" class="form-label">Mga katanungan</label>
        <textarea class="form-control" class="form-control" id="client_questions"
            rows="3"></textarea>
    </div>
</section>
</form>