<hr>
<label for="buttons" class="form-label" style="font-size:x-large"><b>Tanggapin ang
    request?</b></label>
<div class="mb-3 mt-2 d-flex">
<form action="/form/complaints/pending/<%- result._id %>?_method=PATCH" method="POST">                   
        <input name="case_status" type="text" value="ongoing" hidden>
        <button type="submit" class="btn btn-primary btn-lg">Accept</button>
        
</form>
<form action="/form/complaints/pending/<%- result._id %>?_method=PATCH" method="POST">                
        <input name="case_status" type="text" value="denied" hidden>
        <button type="submit" class="btn btn-danger btn-lg">Reject</button>
            
</form>
</div>