<form action="/form/consultation" method="POST">
<section class="consult-form container mt-3">
    <h1>Consult Form</h1>
    <hr>
    <div class="mb-3">
        <label for="facts_of_the_case" class="form-label">Kwento/Detalye
            ng Legal na Problema</label>
        <textarea class="form-control" class="form-control"
            id="facts_of_the_case" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="adverse_party" class="form-label">Adverse
            Party</label>
        <input type="text" class="form-control" id="adverse_party"
            placeholder="Ilagay ang TBD kung hindi sure">
    </div>
    <div class="mb-3">
        <label for="case_objectives" class="form-label">Mga layunin na
            gustong makamit sa legal na problema</label>
        <textarea class="form-control" class="form-control"
            id="case_objectives" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="client_questions" class="form-label">Mga
            katanungan</label>
        <textarea class="form-control" class="form-control"
            id="client_questions" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="case_file" class="form-label">Mga dokumentong
            makakatulong sa legal na problema</label>
        <input class="form-control" type="file" id="case_file">
    </div>
</section>
</form>