<div class="col-md-4">
    <div class="m-3 border rounded bg-white shadow">
        <div class="nav flex-column nav-pills m-3" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <h4>Status</h4>
            <hr>
            <button class="nav-link p-3 text-uppercase active" id="v-pills-transaction-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-transaction" type="button" role="tab"
                aria-controls="v-pills-transaction" aria-selected="false"><i class="fas fa-receipt"></i>
                Transactions</button>
            <h4>Services</h4>
            <hr>
            <button class="nav-link p-3 text-uppercase" id="v-pills-consult-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-consult" type="button" role="tab" aria-controls="v-pills-consult"
                aria-selected="true"><i class="fas fa-balance-scale"></i> Consult</button>
        </div>
    </div>
</div>