<div class="mb-3 text-center">
  <!--Dito sa button kung san magproprompt yung modal, dadagdagan lang netong data-bs-toggle="modal" and data-bs-target="id nung modal"-->
  <a class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#form_registerModal">Register</a>
</div>
<div class="modal fade" id="form_registerModal" tabindex="-1"
aria-labelledby="form_registerModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="form_registerModalLabel">TERMS AND CONDITIONS</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" style="text-align: justify;">
      <p>These Terms and Conditions are a legally binding agreement between you and 3JGBTECH (“we,”
        “us,” or “our”) regarding your access to and use of this website, as well as any other media
        form, media channel, mobile website, or mobile application related, linked, or otherwise
        connected to it (collectively, the “Site”).</p>
      <p>You agree that by accessing the Site, you have read, understood, and agree to be bound by
        all of these Terms and Conditions. If you do not agree with all of these Terms and
        Conditions, then you are expressly prohibited from using the Site and you must discontinue
        use immediately.</p>
      <p>Supplementary terms and conditions or documents that may be placed on the Site from time to
        time are expressly incorporated by reference herein. We retain the right to amend or modify
        these Terms and Conditions at any time and for any cause in our sole discretion.</p>
      <p>Any modifications will be communicated to you by amending the “Last updated” date of these
        Terms and Conditions, and you thus renounce any right to obtain explicit notice of any
        change.</p>
      <p>It is your obligation to examine these Terms and Conditions on a regular basis to ensure
        that you are aware of any changes. By continuing to use the Site after the date such amended
        Terms and Conditions are posted, you will be subject to, and will be assumed to have been
        made aware of, and to have accepted, the changes in such revised Terms and Conditions.</p>
      <p>As a result, anyone who visit the Site from other areas do so at their own risk and are
        entirely responsible for complying with local laws, if and to the extent that local laws
        apply.</p>
      <p>By registering with 3JGB, I agree to follow the terms and conditions for using this
        website. I clearly acknowledge that I freely registered on this Site without being forced or
        compelled to do so by anybody, and that my registration was not prompted by a spam message
        or other similar advertising. I registered and utilized the website without receiving any
        advertising from 3JGB or any of the lawyers who were enrolled there, nor any self-laudatory
        phrases or promotion.</p>
      <p>I expressly agree to respect the owner of this Site's copyright, trademark, service mark,
        or other intellectual property, including all other proprietary rights in relation to the
        content, organization, design, process, compilation, and the like, and will not use, copy,
        reproduce, or publish without the owner's written consent.</p>
      <p>I agree to hold the 3JGB owners/stockholders, directors, officers, employees, lawyers,
        contributors, and volunteers harmless from any and all claims or damages, whether direct or
        indirect, incidental, consequential, special, or exemplary damages or lost profits, arising
        out of or related to your access or use of, or my inability to access or use, this Site or
        the information contained in this Site.</p>
      <p>I also agree that I will not post or transmit any material that is unlawful, threatening,
        abusive, defamatory, invasive of privacy or publicity rights, vulgar, obscene, profane, or
        otherwise objectionable, that encourages conduct that would be a criminal offense, give rise
        to civil liability, or otherwise violates the rights of 3JGB and others, that is unlawful,
        threatening, abusive, defamatory, invasive of privacy or publicity rights, vulgar, obscene,
        profane</p>
      <p>Customers are encouraged to provide feedback, recommendations, and submissions to 3JGB.
        Customers' comments, ideas, and submissions, including but not limited to messages, notes,
        feedback, artwork, correspondence, computer code, and creative materials given to 3JGB, will
        become 3JGB's exclusive property. When a comment, proposal, or submission is made, it is
        considered a complete transfer of all rights to 3JGB (copyright, patentability, and
        intellectual property). 3JGB shall be entitled to utilize said comment, suggestion, and/or
        submission as its own for any lawful purpose, including but not limited to reproduction,
        disclosure, publication, distribution, and the like, without paying Customer any
        compensation.</p>
      <ul>
        <p>3JGB respects the following:</p>
        <li>Respect of Client rights and responsibilities</li>
        <li>Respect of the lawyer ‐ client relationship</li>
        <li>Registration and verification of licensed lawyers only</li>
        <li>Adherence to professional code of ethics</li>
      </ul>
    </div>
    <div class="modal-footer">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="registerCheckbox">
        <label class="form-check-label" for="registerCheckbox">
          Agree to the terms and agreement
        </label>
      </div>
      <button id="registerButton" type="submit" class="btn btn-primary btn-block" disabled>
        Register
      </button>
    </div>
  </div>
</div>
</div>