<!-- Advice Form -->
<div class="container-fluid">
    <div class="m-3 border rounded bg-white shadow">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-advice" role="tabpanel"
                aria-labelledby="v-pills-advice-tab">
                <div>
                    <!-- Advice Form -->
                    <section class="consult-form container mt-3">
                        <h1>Advice</h1>
                        <hr>
                        <div class="mb-3">
                            <label for="adverse_party" class="form-label">Pangalan ng Kliyente</label>
                            <input type="text" class="form-control" id="adverse_party" value="Pedro" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="adverse_party" class="form-label">Title ng legal na problema</label>
                            <input type="text" class="form-control" id="adverse_party" value="Physical abuse" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="case_objectives" class="form-label">Description ng legal na
                                problema</label>
                            <textarea class="form-control" class="form-control" id="case_objectives" rows="3"
                                readonly>Minamaltrato ng tatay ko ang nanay ko.</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="client_questions" class="form-label">Mga katanungan</label>
                            <textarea class="form-control" class="form-control" id="client_questions" rows="3"
                                readonly>Ano ang maaari isampang kaso sa tatay ko?</textarea>
                        </div>
                        <br> <br> <br> <br>
                        <div class="mb-3">
                            <label for="case_objectives" class="form-label"><b>LEGAL NA ADVICE PARA SA
                                    KASO</b></label>
                            <textarea class="form-control" class="form-control" id="case_objectives"
                                rows="3"></textarea>
                        </div>
                        <a><button class="btn btn-primary" style="margin-left: 765px;">Post</button></a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>