<div class="container-fluid">
    <%- include ("./partials/messages"); %>
        <div class="row">
            <div class="col-md-4">
                <div class="m-3 border rounded bg-white shadow">
                    <div class="nav flex-column nav-pills m-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <h4>Services</h4>
                        <hr>
                        <button class="nav-link p-3 text-uppercase active" id="v-pills-consult-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-consult" type="button" role="tab" aria-controls="v-pills-consult"
                            aria-selected="true"><i class="fas fa-balance-scale"></i> Consult</button>
                        <button class="nav-link  p-3 text-uppercase" id="v-pills-advice-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-advice" type="button" role="tab" aria-controls="v-pills-advice"
                            aria-selected="false"><i class="fas fa-comment-medical"></i> Advice</button>
                        <h4>Status</h4>
                        <hr>
                        <button class="nav-link p-3 text-uppercase" id="v-pills-transaction-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-transaction" type="button" role="tab"
                            aria-controls="v-pills-transaction" aria-selected="false"><i class="fas fa-receipt"></i>
                            Transactions</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="m-3 border rounded bg-white shadow">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-consult" role="tabpanel"
                            aria-labelledby="v-pills-consult-tab">
                            <!-- Consult Form -->
                            <%- include ("./partials/consultation-form") %>
                        </div>
                        <div class="tab-pane fade" id="v-pills-advice" role="tabpanel"
                            aria-labelledby="v-pills-advice-tab">
                            <!-- Advice Form -->
                            <%- include ("./partials/advice-form") %>
                        </div>
                        <div class="tab-pane fade" id="v-pills-transaction" role="tabpanel"
                            aria-labelledby="v-pills-transaction-tab">
                            <div>
                                <!-- ONGOING TABLE -->
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#Case ID</th>
                                            <th scope="col">Legal Title</th>
                                            <th scope="col">Lawyer</th>
                                            <th scope="col">Status</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Patayan</td>
                                            <td>Jonathan</td>
                                            <td>Complete</td>
                                            <td><button class="btn btn-primary">View</button></td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>