<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="d-flex flex-column justify-content-center align-items-center" style="height: 200px;">
                    <h3 class="font-weight-bold">Frequently Asked Questions</h3>
                    <span class="d-block text-center p-3">Hello
                        welcome to the FAQ Page, Please browse the items to seek your answer</span>
                    <div>
                        <caption>To view this page in either language please click on the link</caption>
                        <a href="/faq/tagalog">Tagalog</a>
                        <a href="/faq/english">English</a>
                    </div>
                </div>
                <div class="card">
                    <h4 class="m-3 text-center">General</h4>
                    <div class="m-3">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-controls="collapseOne">
                                        Ano ang aking gampanin, bilang isang kliyente?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Bilang kliyente, nakasalalay sayo ang magiging direksyon ng kaso. Bilang
                                            iyong abogado, and aming trabaho ay bigyan ka ng legal na payo sa mga iba’ti
                                            bang pagpipilian upang ipagpatuloy ang iyong kaso, kasama na ang mga
                                            kakulangan, kalamangan, at mga gastusin kaakibat nito. Maaari kaming
                                            magbigay ng suhestyon, ngunit nasa iyo ang huling pagpapasiya. Pagkatapos ay
                                            ibibigay na naming ang mga legal na serbiyong naaayon sa iyong direksyon.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Paano ko makakausap ang aking abogado?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Mahalaga ang komunikasyon sa isang abogado at kliyente. Ang aming mga
                                            abogado ay maaari mong makausap sa pamamagitan ng email at telepono.
                                            Mahalaga ang magkaroon ng regular pakikipagusap sa iyo upang makapagbigay
                                            kayo ng mga update sa iyong kaso at malaman ang sunod na dapat gawin.
                                            <br>
                                            Layunin naming tumugon sa mga tawag at email ng mga kliyente sa loob ng 1-2
                                            business days, anomang aplikable. Pinapakiusap naming sa aming kliyente na
                                            tumugon sa aming mga tawag at emails sa lalong mabilis na panahon. Kung
                                            hindi kami makakakuha ng mga instruksyon tungkol sa kaso, ay hindi naming
                                            maibibigay ang legal na serbisyong kailangan mo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Lahat ba pwede makagamit ng legal web app?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Oo, lahat ng mga biktima ng karahasan sa ilalim ng <a target="_blank"
                                                href="https://pcw.gov.ph/vaw-faqs/">RA9262</a> Law
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        Kumpidensyal ba ang mga impormasyong inilalahad ko sa aking abogado?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Ganap na kumpidensyal ang ibang paguusap sa pagitan ng kliyente at abogado.
                                            Ang tawag dito ay “solicitor-client priviledge.” Dahil dito, maaari mong
                                            ibigay sa iyong abogado ang lahat ng detalye sa iyong kaso ng walang takot
                                            na itoy malalahad sa publiko.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        Gaano katagal hanggang sa maaprubahan ang aking aplikasyon na isinumite
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Sa oras isinumite ang aplikasyon sa website. Mayroon pang pagsusuri na
                                            mangyayare at sa oras na ito ay maaprubahan ng ating abogado, ang kliyente
                                            ay manonotify sa email account o website account.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Kailan ako hihingi ng payong legal?
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Imposibleng ilista lahat ng sitwasyon kung saan dapat kang humingi ng legal
                                            na pagpapayo, kung kaya’t nilista naming ang mga karaniwang sitwasyon kung
                                            saan dapat kang humingi nito. Hindi kumpleto ang listahang ito, at kung ikaw
                                            ay may katanungan na sa tingin mo ay masasagot lamang ng isang abogado,
                                            komunsulta sa mga programa sa inyong bayan at humingi ng tulong. Huwag kang
                                            magalinlangan sa paghingi ng legal na payo.

                                            Dapat kang komunsulta sa isang abogado kung: <br><br>

                                            - Ikaw ay kinasuhan o tinakot na kakasuhan;<br>
                                            - May alitan sa mga legal na dokumento gaya ng loan agreement, upa, o iba
                                            pang kontrata;<br>
                                            - Kailangan mo ng divorce o tulong sa kustodiya ng iyong mga anak;<br>
                                            - Inabusa ka ng isang kamag-anakbr <br>
                                            - Hindi pagkakaunawaan sa utang mo o sayo ng isang tao; <br>
                                            - Sa tingin mo ay hindi ka maayus na tinatrato ng ahensya ng gobyerno o
                                            hindi mo nakukuha ang mga pampublikong benepisyo na kailangan mo; <br>
                                            - Hindi maayus ang hindi pagkakasundo at nanganganib na mawalan ng pera o
                                            pag-aari; <br>
                                            - Kung ikaw ay kinasuhan ng krimen, tawagan ang inyong Local Public Defender
                                            Office. <br>

                                            <br><br>
                                            Mas mainam na humingi muna ng legal na payo at alamin kung kailangan mo ito,
                                            kaysa huwag magtanong at malaman na kailangan pala ng isang abogado.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="m-3 text-center">Domestic Abuse</h4>
                    <div class="m-3">
                        <div class="accordion" id="accordionDomesticAbuse">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                        Anong tulong ang makukuha ko kung ako ay nasa abusadong relasyon
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse"
                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Kung kailangan mo ng kaagad na tulong patungkol sa issue sa pamilya o iba pa
                                            ay maari kang humingi ng tulong sa website, ikaw rin ay kuwalipikado upang
                                            mag hangad ng abogado upang mag reprisenta sa korte.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseEight" aria-expanded="false"
                                        aria-controls="collapseEight">
                                        Ikaw ba ay nagaalala kung ang iyong ex o kasintahan ay maari kang saktan?
                                    </button>
                                </h2>
                                <div id="collapseEight" class="accordion-collapse collapse"
                                    aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Ang biktima ay maaring mag sumite ng <a target="_blank"
                                                href="https://www.smartparenting.com.ph/health/wellness/barangay-protection-order-vawc-a1800-20191103-lfrm">BPO(Barangay
                                                Protection Order)</a>, Ipinagbabawal nito ang nang-aabuso sa pisikal na
                                            pananakit,
                                            pakikipag-usap, o pagtatago sa paligid ng biktima at kaniyang mga
                                            anak. Ang Barangay Protection Order o BPO ay may bisa sa labinlimang (15)
                                            araw. Ito ay maaaring i-renew sa pamamagitan ng pag-uulit ng proseso ng
                                            aplikasyon sa
                                            barangay hall. Kadalasan, hinihiling ito habang inaalam siya ng biktima
                                            susunod na hakbang — magsampa ng kaso o hindi.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>