<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 200px;">
          <h3 class="font-weight-bold">Frequently Asked Questions</h3> <span class="d-block text-center p-3">Hello
            welcome to the FAQ Page, Please browse the items to seek your answer</span>
        </div>
        <div class="card">
          <h4 class="m-3 text-center">General</h4>
          <div class="m-3">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                     aria-controls="collapseOne">
                    What is my role, as the client?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                      As the client, you will decide the general direction of your matter. As your lawyer, our job is
                      to provide you with legal advice on the different options available to move your matter forward,
                      including the pros, cons and costs associated with each. We will usually make a recommendation,
                      but the final decision will be yours. We will then provide legal services necessary to carry out
                      your instructions.
                      <br><br>
                      We cannot accept instructions that are in conflict with our duties to the courts, other lawyers or
                      the public. The Code of Conduct of the Law Society of Alberta sets out the standards we as lawyers
                      are to meet.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How will my lawyer communicate with me?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                      Two-way communication is very important in a lawyer-client relationship. Many of our lawyers
                      communicate by email or phone.
                      <br>
                      The lawyer will instruct you what type of communication channel will be used
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Can anyone apply for legal aid using the web app?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                      Anyone under <a target="_blank" href="https://pcw.gov.ph/vaw-faqs/">RA9262</a> Law
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Is the information I tell my lawyer confidential?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                      Certain communications between solicitor and client are absolutely confidential. This is known
                      as “solicitor-client privilege.” Because of it, you can give your lawyer all of the facts relevant
                      to your matter without fear that prejudicial information will become public.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    How long does it take for my consultation form to be approved?
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                      As soon as the application is submitted. If further review is required, you will be notified through your portal account. You will receive notification through your online portal account.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    When should I seek legal advice?
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                      It is impossible to list all of the situations in which you should get legal advice, so we hve listed some common situations when you should get legal advice. This list is not complete, and if you have a question you think a lawyer might be able to help you with, contact the programs that serve your county and ask if they can help. You should not hesitate to ask for advice. You can find programs in your county by checking the Legal Services Links.
                      <br>
                      You should contact a lawyer if:
                      <br><br>
                      - You have been sued, or threatened with a lawsuit; <br>
                      - You have a dispute over legal documents such as a loan agreement, lease or other contract; <br>
                      - You need a divorce or help with custody of your children; <br>
                      - You have been abused by a family member; <br>
                      - You disagree with someone about how much you owe them or how much they owe you; <br>
                      - You think a government agency is not treating you fairly or you are not getting the public benefits (welfare, Medicaid, food stamps, child care, SSI, etc.) you deserve; <br>
                      - More generally, you cannot settle a disagreement and you are at risk of losing money or property; <br>
                      - If you have been charged with a crime, you should contact your local public defender office. <br>
                      <br>
                      It is much better to ask for legal advice first and find out that you do not need it, than to not ask and find out later that you needed a lawyer.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h4 class="m-3 text-center">Domestic Abuse</h4>
          <div class="m-3">
            <div class="accordion" id="accordionDomesticAbuse">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    What help can I get if im in an abusive relationship?
                  </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                      If you need urgent legal advice about a family issue or an immigration/refugee issue, call us right away or ask someone at a shelter or legal clinic about our two hours of free legal advice. You may also qualify to have a lawyer represent you in court.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Are you worried that your ex will hurt you or your children?
                  </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                      The Victim can file a <a href="https://www.smartparenting.com.ph/health/wellness/barangay-protection-order-vawc-a1800-20191103-lfrm">BPO(Barangay Protection Order)</a>, It prohibits the abuser from physically harming, communicating, or lurking around the vicinity of the victim and her child/ren. The Barangay Protection Order or BPO is valid for fifteen (15) days. This can be renewed by repeating the application process at the barangay hall. Often, this is requested while the victim figures out her next move — to file a case or not.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>