<!-- HERO -->
<div class="pt-5 pb-5 mb-5 shadow-lg home-banner" style="color:whitesmoke;">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Welcome to 3JGB Legal Assistance Service</h1>
        <p class="lead">Kailangan mo ba ng abugadong mapagtatanungan ukol sa iyong problema? <br> O hindi kaya naman ay
            isa kang abugado na handang tumulong sa mga nangangailagan? Mag sign-up na upang matugunan ang iyong mga
            legal pangangailagan!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a href="/users/register" type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Sign up now</a>
        </div>
    </div>
</div>

<div class="container mb-5 mt-5">
    <section id="features" class="bg-white container text-center rounded shadow-lg scrolling-active">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <i class="fas fa-desktop fa-3x"></i>
                <h2>Purely Online</h2>
                <p>Ang website na ito ay ninanais na tulungan ang mga nangangaylangan sa pamamagitan ng online na
                    consultation.</p>
            </div>
            <div class="feature col">
                <i class="fas fa-balance-scale fa-3x"></i>
                <h2>Legal Consultation</h2>
                <p>Ang libreng legal na konsultasyon para sa inyong problema ay abot kamay na.</p>
            </div>
            <div class="feature col">
                <i class="far fa-check-circle fa-3x"></i>
                <h2>Easy to Use</h2>
                <p>Ang pagamit ng website na ito ay pinadali upang mas maunawaan ng mga tao ang mga serbisyong mayroon
                    ang 3JGB.</p>
            </div>
        </div>
    </section>
</div>

<!--Available Services-->
<div class="container mt-5">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="overlay-image" style="background-image:url(assets/images/legal-advice-homepage.jpg);"></div>
                <div class="carousel-text">
                    <h1>Available Services</h1>
                    <br><br>
                    <h1>Legal Advice</h1>
                    <p>Ibigay ang iyong karagdagang tanong ukol sa iyong problema at agad itong sasagutin ng mga
                        abugadong available <br> sa abot ng kanilang makakaya.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay-image" style="background-image:url(assets/images/legal-consult-homepage.jpg);">
                </div>
                <div class="carousel-text">
                    <h1>Available Services</h1>
                    <br><br>
                    <h1>Legal Consultation</h1>
                    <p>Magpa-schedule ng 1-on-1 video call meeting kasama ang isang abugado upang matugunan ang mga
                        katanungan tungkol <br> sa iyong legal na problema.</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!--News & About us-->
<div class="container my-5">
    <div class="card-group">
        <div class="card">
            <img src="assets/images/legal-consult-homepage.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">News</h5>
                <p class="card-text">magbasa ng mga napapanahong balita tungkol sa estado ng Legal Assistance sa
                    Pilipinas.</p>
                <a href="#" class="btn btn-primary">Magpatuloy</a>

            </div>
        </div>
        <div class="card">
            <img src="assets/images/team-homepage.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">About us</h5>
                <p class="card-text">Kilalanin kung ano nga ba 3JGB at kung sino ang mga tao sa likod ng proyektong ito.
                </p>
                <a href="#" class="btn btn-primary">Magpatuloy</a>
            </div>
        </div>

    </div>
</div>
