<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Client Registration
        </h1>
        <%- include ("./partials/messages"); %>

        <!-- CLIENT REGISTRATION -->
        <form action="/users/register" method="POST" enctype="multipart/form-data">
          <!-- USERNAME -->
          <%- include("./partials/registration-form") %>
          <!-- Modal for Privacy Rights -->
          <%- include ("./partials/privacy-form-modal") %>
          <input name="user_type" type="text" value="client" hidden>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
      </div>
    </div>
  </div>
</div>