<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Registration
        </h1>
        <!-- PILLS TAB -->
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-client-tab" data-bs-toggle="pill" data-bs-target="#pills-client"
              type="button" role="tab" aria-controls="pills-client" aria-selected="true">Client</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-lawyer-tab" data-bs-toggle="pill" data-bs-target="#pills-lawyer"
              type="button" role="tab" aria-controls="pills-lawyer" aria-selected="false">Lawyer</button>
          </li>
        </ul>

        <!-- PILLS TAB CONTENT -->
        <%- include ("./partials/messages"); %>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-client" role="tabpanel" aria-labelledby="pills-client-tab">
              <form action="/users/register" method="POST">
                <!-- USERNAME -->
                <%- include("./partials/registration-form") %>
                  <!-- HIDDEN CLIENT INPUT -->
                  <input name="user_type" value="client" hidden></input>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">
                      Register
                    </button>
                  </div>
              </form>
            </div>
            <div class="tab-pane fade" id="pills-lawyer" role="tabpanel" aria-labelledby="pills-lawyer-tab">
              <form action="/users/register" method="POST">
                <!-- USERNAME -->
                <%- include("./partials/registration-form") %>
                <div class="input-group mb-3">
                  <input type="file" name="affiliation" class="form-control" id="inputGroupFile02" required>
                  <label class="input-group-text" for="inputGroupFile02"><i class="fa fa-briefcase" aria-hidden="true"></i>
                  </label>
                </div>
                  <!-- HIDDEN LAWYER INPUT -->
                  <input name="user_type" value="lawyer" hidden></input>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">
                      Register
                    </button>
                  </div>
              </form>
            </div>
          </div>
          <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
      </div>
    </div>
  </div>
</div>