body {
  background-color: rgb(224, 224, 235);
}

.index-hr {
  border-top: 5px solid white;
  height: 0px;
  width: 50%;
  margin: auto;
}

.white {
  color: white;
}

td {
  vertical-align: middle;
}

.big {
  width: 3em;
  height: 3em;
}

.disabled {
  color: white;
  background-color: grey;
  pointer-events: none;
}

.notification {
  overflow-x: auto;
  max-height: 500px;
}

/* ADVICE FORUM */
.forum-body {
  max-height: 90vh;
  height: 90vh;
  overflow: auto;
}

.reset-parent {
  overflow: auto;
  margin: 0;
  padding: 0;
}

.comment-box {
  width: 100%;
}

.pointer {
  color: green;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .input-radio {
    text-align: center;
  }
}
