<div class="container">
    <div class="card m-5">
        <div class="card-body">
            <h3 class="card-title">Welcome to 3JBG Counselling Web Application</h3>
            <h6 class="card-text">Hello User!</h6>
            <p class="card-text"> Your account is locked and must wait for the admin to unlock your account </p>
            <div class="d-flex justify-content-between">
                <a href="/dashboard">Click here to continue</a>
                <a href="/users/logout" class="card-link">Log out</a>
            </div>
        </div>
    </div>
</div>