<div class="container">
  <div class="card m-5">
    <div class="card-body">
      <h5 class="card-title">Welcome to 3JBG Counselling Web Application</h5>
      <p class="card-text">Please verify your email first before you continue to the website</p>
      <div class="d-flex justify-content-between">
        <a href="/users/resend-email" class="card-link">Resend email</a>
        <a href="/users/logout" class="card-link">Log out</a>
      </div>

    </div>
  </div>

</div>