<div class="container">
    <div class="card m-5">
        <div class="card-body">
            <h3 class="card-title">Welcome to 3JBG Counselling Web Application</h3>
            <h6 class="card-text">Hello Lawyer!</h6>
            <p class="card-text"> It seems that you are not yet verified by the admin, please wait up to 3 to 5 business
                days your registration, Thank you! </p>
            <a href="/users/logout" class="card-link">Log out</a>
        </div>
    </div>

</div>